.create-list {
  width: 1100px;
  max-width: 90%;
  margin: 50px auto;
}

.text-apresentation {
  margin-bottom: 30px;
}

.text-apresentation h1 {
  margin-bottom: 8px;
  color: #f4f4f5;
}

.text-apresentation p {
  color: #a1a1aa;
}

/* Área principal */
.create-list-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
}

/* Formulário */
.form-section {
  width: 550px;
  padding: 25px;
  border: 1px solid #3f3f46;
  border-radius: 12px;
  background: #27272a;
}

.list-name-section,
.product-section {
  margin-bottom: 30px;
}

.section-description {
  margin-bottom: 12px;
}

.section-description p:first-child {
  margin-bottom: 5px;
  color: #f4f4f5;
  font-size: 16px;
  font-weight: bold;
}

.section-description p:last-child {
  color: #a1a1aa;
  font-size: 13px;
}

/* Input + botão */
.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-group input {
  flex: 1;
  height: 42px;
  padding: 0 12px;
  border: 1px solid #3f3f46;
  border-radius: 8px;
  outline: none;
  background: #18181b;
  color: #f4f4f5;
}

.input-group input::placeholder {
  color: #71717a;
}

.input-group input:focus {
  border-color: #a855f7;
}

.add-button {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  background: #a855f7;
  color: white;
  cursor: pointer;
  transition: background 0.2s ease;
}

.add-button:hover {
  background: #9333ea;
}

.form-section > p {
  color: #71717a;
  font-size: 12px;
}

/* Preview */
.list-preview {
  width: 400px;
  padding: 25px;
  border: 1px solid #3f3f46;
  border-radius: 12px;
  background: #27272a;
}

/* Cabeçalho do preview */

.preview-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.preview-header h2 {
  margin-bottom: 6px;
  color: #f4f4f5;
  font-size: 20px;
}

.preview-header p {
  color: #a1a1aa;
  font-size: 13px;
}

/* Quantidade de itens */

.item-count {
  padding: 6px 10px;
  border-radius: 6px;
  background: #18181b;
  color: #a855f7;
  font-size: 12px;
}

/* Cabeçalho da lista */

.preview-list-header {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 12px 14px;

  border: 1px solid #3f3f46;
  border-radius: 8px 8px 0 0;

  background: #18181b;
}

.preview-list-header svg {
  color: #a855f7;
}

.preview-list-header h3 {
  color: #f4f4f5;
  font-size: 14px;
}

/* Área onde o List será renderizado */

.preview-products {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #3f3f46;
  border-top: none;
  border-radius: 0 0 8px 8px;
  padding: 10px;
}

.preview-products::-webkit-scrollbar {
  width: 5px;
}

.preview-products::-webkit-scrollbar-track {
  background: transparent;
}

.preview-products::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 10px;
}

.preview-products::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}

/* Botão concluir e cancelar */

.preview-actions {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.cancel-button,
.finish-button {
  flex: 1;
  padding: 11px;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-size: 13px;
}

.cancel-button {
  background: #3f3f46;
  color: #a1a1aa;
}

.cancel-button:hover {
  background: #52525b;
  color: #f4f4f5;
}

.finish-button {
  background: #a855f7;
  color: #fff;
}

.finish-button:hover {
  background: #9333ea;
}