.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 90%;
  margin: 0 auto;
  padding: 40px 20px;
}

.container-header {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-header h1 {
  font-size: 20px;
  padding-top: 20px;
  margin-bottom: 30px;
}

.start-list {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background: #a855f7;
  color: white;
  cursor: pointer;
  text-align: center;
  display: flex;
  gap: 5px;
}

.lists-container {
  width: 100%;
}

.empty-message {
  padding: 30px;
  text-align: center;
  border-radius: 8px;
}

@media (max-width: 600px) {
  .container-header {
    width: 100%;
  }
}