.create-list {
  width: 500px;
  margin: 50px auto;
}

.create-list label {
  display: block;
  font-size: 15px;
}

.create-name {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.create-name input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  color: #222;
}

.adicionar {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #222;
}

.container-create-list {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.finish-button {
  display: block;
  margin: 25px auto;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background: #222;
  color: white;
  cursor: pointer;
}