.list-container {
  width: 400px;
  padding-top: 15px;
  border-radius: 12px;
  background: #27272a;
  border: 1px solid #a855f7;
}

.list-container.complete {
  max-height: 80vh;
  overflow-y: auto;
}

.product {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  margin: 0 18px 6px;
  border-radius: 7px;
  background: #f4f4f5;
}

.product span {
  color: #222;
  font-size: 13px;
}

.list-complete {
  text-align: center;
  margin-bottom: 15px;
  color: #a855f7;
}

.remove-list {
  background-color: #1f1f22;
  margin-top: 10px;
  width: 100%;
  text-align: center;
  padding: 7px;
  font-size: 12px;
  color: #a1a1aa;
  border: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  transition: color 0.2s ease;
}

.remove-list:hover {
  color: #ef4444;
}